*.la
*.lo
*.o
.deps/
.libs/
/.pc/
/ADOL-C/adolc
/ADOL-C/dummy.cpp
/ADOL-C/test/fminmax
/ADOL-C/test/powexam
/ADOL-C/test/speelpenning
/Makefile
/adolc.pc
/autoconf/*.dh-orig
/autoconf/compile
/autoconf/shave
/autoconf/shave-libtool
/autom4te.cache
/config.log
/config.status
/doltcompile
/doltlibtool
/libtool
Makefile
