#!/usr/bin/make -f

dh_targets=binary binary-arch binary-indep build build-arch build-indep clean install

$(dh_targets) %:
	dh $@ --with autotools_dev --parallel

.PHONY: $(dh_targets)

# Upstream now installs in .../lib64/ not .../lib/ on 64-bit
# architectures.  Need to override this.

# This *should* change it, but does not.
override_dh_auto_configure:
	dh_auto_configure -- --libdir=\$${exec_prefix}/lib --enable-sparse

# This puts the right libdir= line in libadolc*.la
override_dh_auto_build:
	dh_auto_build -- libdir=\$${exec_prefix}/lib

# This installs the files in the right place
override_dh_auto_install:
	dh_auto_install -- libdir=\$${exec_prefix}/lib
